@import "tailwindcss";

@theme {
  --color-electric-blue: #00f2ff;
  --color-electric-blue-glow: rgba(0, 242, 255, 0.2);
}

:root {
  background-color: #000000;
  color: #f8fafc;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Efecto sutil de brillo para tarjetas o bordes */
.glow-border {
  box-shadow: 0 0 15px var(--color-electric-blue-glow);
}
